body {
  font-family: Tahoma, Sans-serif;
  font-size: 0.8em;
  color: #004f8c;
}

div.central {
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  border-radius: 5px;
  border: 1px solid #a5d8ff;
  background-color: #eff8ff;
  padding: 1em;
}

a:link {
  text-decoration: none;
  color: #0066b4;
}

a:visited {
  color: #0066b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0066b4;
}

form.search {
  width: 100%;
}

form.search input[type="submit"] {
  float: right;
}

form.search div {
  overflow: hidden;
  padding-right: .5em;
}

form.search div input {
  width: 100%;
}

ol.books {
  padding-inline-start: 1em;
}

ol.books a {
  font-weight: bold;
  color: #004f8c;
}

ol.books > li {
  margin-bottom: 1em;
}

form.addcomment {
  width: 100%;
}

form.addcomment textarea {
  width: 100%;
}

form.addcomment input[type="submit"] {
  float: right;
}

div.commentinfo {
  font-size: 0.8em;
}

.commenttext {
   font-style: italic;
}

.commentreader {
  font-weight: bold;
}

form.editbook {
  width: 100%;
}

form.editbook table {
  width: 100%;
}

form.editbook input[type="text"], form.editbook input[type="search"] {
  width: 100%;
}

form.editbook th.clmnfldname {
  width: 10%;
}

form.editbook th.clmnfldvalue {
  width: 90%;
}

form.editbook .fielderror {
  color: red;
  font-size: 70%;
}

div.header {
  text-align: right;
}

div.footer {
  font-size: 70%
}

