<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bookstock.css" th:href="@{bookstock.css}">
</head>
<body>
    <div class="footer" th:fragment="about">Copyright © 2019,
    Приложение с хранением сущностей в БД (можно взять DAOs из прошлых занятий).
    Использовать классический View, предусмотреть страницу отображения всех сущностей и создания/редактирования.
    View на Thymeleaf, classic Controllers.
    </div>
</body>
</html>