<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bookstock.css" th:href="@{bookstock.css}">
</head>
<body>
    <div class="footer" th:fragment="about">Copyright © 2019,
        Обернуть все внешние вызовы в Hystrix, Hystrix Javanica.
        Опционально: Поднять Turbine Dashboard для мониторинга (здесь только <a href="http://localhost:8080/hystrix">Dashboard</a>)
    </div>
</body>
</html>