<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <link rel="stylesheet" href="../static/bookstock.css" th:href="@{/bookstock.css}">
</head>
<body>
<div class="central">


    <form class="login" th:action="@{/login}" method="post">
        <p sec:authorize="!isAuthenticated()">
            Войдите или <a th:href="@{\register}" href="register.html">зарегистрируйтесь</a>
        </p>

        <label >Ваше имя</label>
        <input type="text" name="username" th:required="required" th:autofocus="autofocus"/>
        <br/>

        <label>Пароль</label>
        <input type="password" name="password" th:required="required" />
        <br/>

        <div>
          <label for="remember-me">Запомнить меня на складе</label>
          <input type="checkbox" id="remember-me" name="remember-me"/>
        </div>
        <br/>

        <input type="submit" value="Войти"/>

        <p th:if="${param.error}" class="errors">
            Неверные имя пользователя и/или пароль.
        </p>
    </form>

</div>
</body>
</html>